@import "reset.scss";
@import "variables";
@import "themes";

.app {
    font: var(--font-m);
    letter-spacing: 0.05em;
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    transition: all .2s ease;
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}