@import 'reset';
@import 'variables';
@import 'fonts';
@import 'themes';

.app {
	font: var(--font-m);
	letter-spacing: 0.05em;
	background: var(--bg-color);
	color: var(--primary-color);
	min-height: 100vh;
	transition: all 0.2s ease;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	width: 100%;
}

.wrapper {
	display: flex;
	height: 100%;
	flex-grow: 1;
}

.container {
	max-width: 1400px;
	padding: 0 15px;
	margin: 0 auto;
}

.content {
	padding: 40px 20px 20px 60px;
	max-height: calc(100vh - 128px);
	overflow: auto;
	width: 100%;

	&::-webkit-scrollbar {
		width: 18px; /* ширина всей полосы прокрутки */
	}

	&::-webkit-scrollbar-track {
		background: var(--inverted-bg-color); /* цвет зоны отслеживания */
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--secondary-color);
		border: 5px solid var(--inverted-bg-color); /* цвет бегунка */
		border-radius: 20px; /* округлось бегунка */
	}
}

img{
	max-width: 100%;
}