.page {
	padding: 40px 20px 20px 60px;
	max-height: calc(100vh - 128px);
	width: 100%;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 18px;

		/* ширина всей полосы прокрутки */
	}

	&::-webkit-scrollbar-track {
		background: var(--inverted-bg-color);

		/* цвет зоны отслеживания */
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--secondary-color);
		border: 5px solid var(--inverted-bg-color);

		/* цвет бегунка */
		border-radius: 20px;

		/* округлось бегунка */
	}
}

.trigger{
	height: 20px;
	margin: 10px;
}