:root {
    --font-family-main: Consolas, 'Times New Roman', Serif;

    --fonst-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--fonst-size-m) / var(--font-line-m) var(--font-family-main);

    --fonst-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--fonst-size-l) var(--font-line-l) var(--font-family-main);
}