.wrapper {
	&.error * {
		color: var(--red);
	}

	&.left {
		text-align: left;
	}

	&.center {
		text-align: center;
	}

	&.right {
		text-align: right;
	}
}

.size_m {
	.title {
		font: bold var(--font-l);
	}

	.text {
		font: var(--font-m);
	}
}

.size_l {
	.title {
		font: bold var(--font-xl);
	}

	.text {
		font: var(--font-l);
	}
}
