.wrapper {
	&.error * {
		color: var(--red);
	}

	&.left {
		text-align: left;
	}

	&.center {
		text-align: center;
	}

	&.right {
		text-align: right;
	}
}

.title {
	font: var(--font-l);
	font-weight: 700;
	color: var(--primary-color);
}

.text {
	font: var(--font-m);
	color: var(--secondary-color);
}
