.profileCard {
	padding: 40px 25px;
	box-shadow: 0 0 2px var(--primary-color);
	border-radius: 3px;
	border: 1px solid transparent;
	transition: border 0.2s ease;

	&.loading,
	&.error {
		min-height: 355px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&.editing {
		border: 1px solid var(--primary-color);
	}
}

.formData {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px 60px;
	padding-top: 20px;
}

.field_avatar {
	grid-column: 1/3;
}
