.form {
	min-width: 300px;

	&_title {
		margin-bottom: 16px;
	}

	&_row {
		margin-bottom: 16px;

		&:last-of-type {
			margin-bottom: 30px;
		}
	}

	&_btn {
		width: 150px;
		margin-left: auto;
	}
}
