.button {
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 30px;
	user-select: none;

	&:disabled {
		opacity: 0.4;
		pointer-events: none;
	}
}

.clear {
	padding: 0;
	border: none;
	background: none;
	outline: none;
}

.outline {
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	background: none;
}

.background {
	background: var(--button-bg);
	color: var(--primary-color);
	border: none;

	&:hover {
		background-color: var(--button-hover-bg);
	}
}

.backgroundInverted {
	background: var(--inverted-bg-color);
	color: var(--inverted-primary-color);
	border: none;
}
