.sidebar {
	background-color: var(--inverted-bg-color);
	width: 0;
	transition: width 0.3s ease-out;
	position: relative;

	.button_open {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--inverted-bg-color);
		font-weight: 700;
		width: 30px;
		height: 40px;
		border-radius: 0 4px 4px 0px;
		cursor: pointer;

		svg {
			transition: transform 0.5s ease;
			zoom: 1.3;
			path {
				fill: var(--bg-color);
			}
		}
	}

	&.collapsed {
		width: 200px;

		.button_open svg {
			transform: scale(-1);
		}
	}
}

.button_wrapper {
	position: absolute;
	right: -30px;
	top: 8px;
}

.switchers {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s;
	user-select: none;
	:global(.sidebar-open) & {
		opacity: 1;
		transition: 0.3s 0.3s;
		pointer-events: all;
	}
}
