.list {
	display: grid;
	gap: 24px;
	max-width: 100%;

	&.TILES {
		grid-template-columns: repeat(4, calc((100% - 72px) / 4));

		@media (width <= 1600px){
			&{ 
				grid-template-columns: repeat(3, calc((100% - 48px) / 3));
			}
		}

		@media (width <= 1200px){
			&{
				grid-template-columns: repeat(2, calc((100% - 24px) / 2));
			}
		}

		@media (width <= 768px){
			&{
				grid-template-columns: 100%;
			}
		}
	}

	&.LIST {
		grid-template-columns: 100%;
	}
}