.item {
	.views {
		display: flex;
		align-items: center;
		gap: 6px;
		margin-left: 10px;
	}

	&.LIST {
		background-color: var(--inverted-bg-color-opacity);
		padding: 20px 30px;

		.item_top {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.user {
			display: flex;
			align-items: center;
			gap: 7px;
			margin-bottom: 7px;

			img {
				width: 33px;
				height: 33px;
				border-radius: 50%;
				object-fit: cover;
			}

		}

		.title {
			display: block;
			width: fit-content;
			margin-bottom: 7px;
		}

		.subtitle {
			margin-bottom: 20px;
		}

		.tags {
			margin-bottom: 8px;
		}

		.img {
			padding-bottom: 40%;
			position: relative;
			margin: 0 -30px 16px;

			img {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		.text {
			-webkit-line-clamp: 8;
			line-clamp: 8;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			margin-bottom: 50px;
		}

		.item_bottom {
			justify-content: space-between;
			display: flex;
		}
	}

	&.TILES {
		.image {
			position: relative;
			height: 200px;
			margin-bottom: 10px;
			overflow: hidden;

			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
				transition: transform .2s ease-in-out;
			}
		}

		&:hover {
			.image img {
				transform: scale(1.1);
			}
		}

		.date {
			position: absolute;
			right: 0;
			top: 0;
			padding: 10px;
			background-color: var(--inverted-bg-color-opacity);
			backdrop-filter: blur(5px);
			border-bottom-left-radius: 10px;
		}

		.row {
			display: flex;
			justify-content: space-between;
		}

		.type {
			white-space: nowrap;
		}

		.name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 18px;
			margin-top: 10px;
			font-weight: 700;
		}
	}
}