.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav {
    ul {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}