.select {
	display: block;
	user-select: none;
	position: relative;

	input {
		display: none;
	}

	&.disabled {
		pointer-events: none;
	}
}

.button {
	display: inline-flex;
	align-items: center;
	position: relative;
	border: 1px solid #252525;
	border-radius: 30px;
	cursor: pointer;
	height: 40px;
	width: 100%;
	font-size: 16px;
	color: var(--primary-color);
	padding: 10px 42px 10px 20px;
	background-color: #6a6a6a;
	z-index: 5;
}

.select.opened .button {
	border: 1px solid var(--primary-color);
}

.button::after {
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	border-color: #38383888 transparent transparent;
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 6px 0;
	transform-origin: top;
	transition: transform 0.3s ease;
	pointer-events: none;
}

.popup {
	visibility: hidden;
	transform: translateY(-10%);
	opacity: 0;
	transition: 0.2s;
	position: absolute;
	top: 53px;
	left: 0;
	width: max-content;
	z-index: 10;
	background-color: #6a6a6a;
	color: #000;
	border-radius: 4px;
	box-shadow: 0 7px 21px rgb(83 92 105 / 12%), 0 -1px 6px 0 rgb(83 92 105 / 6%);
}

.list {
	background-color: #6a6a6a;
	overflow: hidden;
	border-radius: 4px;
}

.select.opened .popup {
	visibility: visible;
	transform: translateY(0);
	opacity: 1;
}

.select.opened .button::after {
	transform: rotate(180deg);
}

.angly {
	display: block;
	position: absolute;
	right: 10px;
	top: -12px;
	width: 26px;
	height: 12px;
	pointer-events: none;
	overflow: hidden;
	transform: rotate(180deg);
}

.angly::after {
	content: '';
	display: block;
	position: absolute;
	left: 5px;
	bottom: 5px;
	background-color: #6a6a6a;
	box-shadow: 0 0 21px rgb(83 92 105 / 13%);
	height: 15px;
	transform: rotate(45deg);
	transform-origin: 50% 50%;
	width: 15px;
}

.item {
	padding: 10px 20px;
	cursor: pointer;
	color: var(--primary-color);

	&:not(:last-child) {
		border-bottom: 1px solid var(--inverted-bg-color);
	}

	&.selected {
		background: #595959;
	}

	&:hover {
		background: var(--inverted-bg-color);
	}
}
