.app_dark_theme {
	--bg-color: #313131;
	--inverted-bg-color: #1f252a;
	--primary-color: rgb(244 236 204);
	--inverted-primary-color: #252525;
	--secondary-color: rgb(204 184 163 / 100%);
	--inverted-secondary-color: #031330;
	--footer-bg-color: #fff;
	--footer-font-color: #0f0404;
	--hover-bg: #000;
	--button-bg: rgb(255 255 255 / 10%);
	--button-hover-bg: rgb(255 255 255 / 20%);
	--bottom-shadow: 0 1px 2px rgb(244 236 204 / 30%);
	--right-shadow: 1px 1px 2px rgb(244 236 204 / 30%);
}
