.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #04042b;
    --primary-color: #0232c2;
    --inverted-primary-color: #049604;
    --secondary-color: #0449e0;
    --inverted-secondary-color: #04ff04;
    --footer-bg-color: #303846;
    --footer-font-color: #fff;
}