.header {
	background-color: var(--inverted-bg-color);
	box-shadow: var(--bottom-shadow);
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.logo {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 24px;
}

.personal {
	&_btn {
		color: var(--primary-color);

		&:hover {
			color: var(--secondary-color);
		}

		&:first-child {
			margin-right: 30px;
		}
	}
}
